body {
  font-family: "SF Mono", "Monaco", "Inconsolata", "Fira Mono", "Droid Sans Mono", "Source Code Pro", monospace;
  background-color: #2f2f2f;
  margin: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.timer {
  color: #fff;
  font-size: 80vh;
  line-height: 80vh;
  margin: 0;
  z-index: 9999;
}

.progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100vh;
  background-color: #4f4f4f;
}